@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  } 


html{
    background: #ffbf00 url(bg.png);
    background-size: cover;
    font-family: Product Sans;
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.clock {
    
    width: 30rem;
    height: 30rem;
    border: 2rem solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 
                0 0 0 4px rgba(0, 0, 0, 0.1),
                inset 0 0 0 3px #EFEFEF,
                inset 0 0 10px #212121,
                0 0 10px rgba(0, 0, 0, 0.2);

}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 5px;
    background: #212121;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.60, 1);

}

.textHour {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    margin: 0 auto;
}